[Unit]
Description=Openweather api fetcher

[Service]
ExecStart=/home/vgscq/.config/eww/scripts/getweather
Type=oneshot

[Install]
WantedBy=default.target
